* {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: darkslategrey;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 60pt;
    text-shadow: white 1px 1px;
    color: #d94d4d;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

a {
    background-color: black;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: 0.25s;
    font-size: 24pt;
}

a:hover {
    background-color: #d94d4d;
}