body {
    background-image: linear-gradient(to bottom, #182d3e, #182d3e);
    margin: 0;
    padding: 10px 50px;
    text-align: center;
    font-size:20pt;
    color: white;
    font-family: "Arial";
}

div{
    margin: 10px;
}

input {
    font-size:20pt;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

a-scene {
    display: inline-block;
    /*width: 75vw;*/
    height: 70vh;
}