body {
    background-image: linear-gradient(to bottom, #182d3e, #182d3e);
    margin: 0;
    padding: 10px 50px;
    text-align: center;
}

input {
    font-size:20pt;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

a-scene {
    display: inline-block;
    aspect-ratio: 2 / 1;
    width: 75vw;
}